@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #dedbd2;
  --color-secondary: #b0c4b1;
  --color-tertiary: #f7e1d7;
  --color-accent: #9a031e;
  --color-positive: #4a5759;
  --color-negative: #edafb8;

  --font-cedarville: "Cedarville Cursive";
}

body {
  @apply bg-primary min-h-screen;
}
